<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script>
  $().ready(function() {
    var titles = Array.prototype.slice.call(document.querySelectorAll('h2,h3'), 0).filter(function(data) {
      return data.id != "";
    })
    var liFlat = 1; ulFlat = 1; ulAcount = 0;
    for(var value of titles) {

      if(value.tagName === "H2") {
        $("#directory").append("<li><a href='#"+value.id+"'>"+value.innerText+"</a></li>")
      }
      if(value.tagName === "H3") {
        $("#directory").append("<ul id='ulAcount"+ulAcount+"'><li><a href='#"+value.id+"'>"+value.innerText+"</a></li></ul>")
        ulAcount++
      }
    }
    $('#li-init').remove();
  });
</script>

<div class="post-directory">
  <div class="post-directory-header">
    <h3>Post Directory</h3>
    <button class="close-directory" onclick="document.querySelector('.post-directory').style.display='none'">✕</button>
  </div>
  <ul id="directory">
    <li id="li-init"></li>
  </ul>
</div>