<!-- <script src="{{ site.baseurl }}public/lib/d3/d3.js"></script>
<script src="{{ site.baseurl }}public/lib/d3/d3.layout.cloud.js"></script>
<script src="{{ site.baseurl }}public/lib/d3.wordcloud.js"></script>

<div id='wordcloud'></div>
<script>
  var words = [
      {% for tag in sorted_tags %}
        { text: "{{ tag | first }}", size: 20, href: "/tags/{{ tag[0] }}" },
      {% endfor %}
    ];
    d3.wordcloud()
      .size([500, 300])
      .selector('#wordcloud')
      .fill(d3.scale.ordinal().range(["#428bca", "#5cb85c", "#5bc0de", "#f0ad4e", "#d9534f"]))
      .words(words)
      .onwordclick(function (d, i) {
        if (d.href) { window.location = d.href; }
      })
      .start();
</script> -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/jqcloud/jqcloud.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/lib/jqcloud/jqcloud-1.0.4.js"></script>
<script type="text/javascript">
  var word_list = [
    {% for tag in sorted_tags %}
      { text: "{{ tag | first }}", weight: {{ tag | last | size }}, link: "/tags/{{ tag[0] }}" },
    {% endfor %}
    /*{ text: "Lorem", weight: 13, link: "https://github.com/DukeLeNoir/jQCloud" },
    { text: "Ipsum", weight: 10.5, html: { title: "My Title", "class": "custom-class" }, link: { href: "http://jquery.com/", target: "_blank" } },
    { text: "Dolor", weight: 9.4 },
    { text: "Sit", weight: 8 },
    { text: "Amet", weight: 6.2 },
    { text: "Consectetur", weight: 5 },
    { text: "Adipiscing", weight: 5 },
    { text: "Elit", weight: 5 },
    { text: "Nam et", weight: 5 },
    { text: "Leo", weight: 4 },
    { text: "Sapien", weight: 4 },
    { text: "Pellentesque", weight: 3 },
    { text: "habitant", weight: 3 },
    { text: "morbi", weight: 3 },
    { text: "tristisque", weight: 3 },
    { text: "senectus", weight: 3 },
    { text: "et netus", weight: 3 },
    { text: "et malesuada", weight: 3 },
    { text: "fames", weight: 2 },
    { text: "ac turpis", weight: 2 },
    { text: "egestas", weight: 2 },
    { text: "Aenean", weight: 2 },
    { text: "vestibulum", weight: 2 },
    { text: "elit", weight: 2 },
    { text: "sit amet", weight: 2 },
    { text: "metus", weight: 2 },
    { text: "adipiscing", weight: 2 },
    { text: "ut ultrices", weight: 2 },
    { text: "justo", weight: 1 },
    { text: "dictum", weight: 1 },
    { text: "Ut et leo", weight: 1 },
    { text: "metus", weight: 1 },
    { text: "at molestie", weight: 1 },
    { text: "purus", weight: 1 },
    { text: "Curabitur", weight: 1 },
    { text: "diam", weight: 1 },
    { text: "dui", weight: 1 },
    { text: "ullamcorper", weight: 1 },
    { text: "id vuluptate ut", weight: 1 },
    { text: "mattis", weight: 1 },
    { text: "et nulla", weight: 1 },
    { text: "Sed", weight: 1 }*/
  ];
  $(function () {
    $("#my_favorite_latin_words").jQCloud(word_list);
  });
</script>
<div id="my_favorite_latin_words" style="width: 550px; height: 350px; border: 1px solid #ccc;"></div>


