---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% include postDirectory.html %}
  {{ content }}
</div>

<div class="related">
  覺得文章不錯的話
  <style data-styled="true" data-styled-version="5.3.3">.eDynhg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:250px;height:40px;padding-top:8px;padding-bottom:8px;padding-left:16px;margin-top: 15px;-webkit-backdrop-filter:blur(20px);backdrop-filter:blur(20px);border-radius:12px;color:white;-webkit-text-decoration:none !important;text-decoration:none !important;}/*!sc*/
  .eDynhg:hover{-webkit-text-decoration:none !important;text-decoration:none !important;}/*!sc*/
  data-styled.g160[id="sc-1ykasxb-0"]{content:"eDynhg,"}/*!sc*/
  </style><a style="background-color:#AD5138;color:#F8E0BE;border:none" href="https://kais.bobaboba.me" target="_blank" class="sc-1ykasxb-0 eDynhg"><img height="100%" style="margin-top: 15px;" src="https://s3.ap-southeast-1.amazonaws.com/media.anyonelab.com/images/boba/boba-embed-icon.png" alt="boba-icon"/><div style="flex:1;text-align:center">可以請我喝一杯飲料！</div></a>

  <br>
  <br>
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            · {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Load Twitter for JavaScript -->
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>


<div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button_count" style="position: relative; top: -8px;"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>

<!-- {% include comments.html %}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% include fb-sdk.html %} -->

<hr>

<h4>發表評論前可以看一下 Pixiv 網站日排行榜，壓壓驚</h4>
<iframe src="https://fun.hujingnb.com/pixiv/i?w=300" frameborder="0"  style="width:300px; height:400px;" ></iframe>

<blockquote>
source: <a href="https://github.com/mokeyjay/Pixiv-daily-ranking-widget">https://github.com/mokeyjay/Pixiv-daily-ranking-widget</a> 
</blockquote>
<script src="https://utteranc.es/client.js"
        repo="VagrantPi/VagrantPi.github.io"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>